*{
    margin:0;
    padding:0;

}
body{
  font-family: "Young Serif", serif;
  
}
.navbar{
    padding: 10px;
    display:flex;
    justify-content:space-between;
    border-bottom:solid black 2px;
    gap: 10px;
    align-items:center;
}
.navbar-s1__title{
    color:rgb(143, 51, 233);
}
.navbar-s2{
    border:solid black 1px;
    border-radius:30px;
    width: 65%;
    padding: 10px;
    display:flex;
    gap: 10px;
    align-items:center;
}
.navbar-s2 input{
    border:none;
    width:100%;
}
.navbar-s2 input:focus{
    outline:none;
}
.navbar-s3{
    display:flex;
    gap: 10px;
    align-items:center;
}
.navbar-s3 p:hover{
    transform:scale(1.05);
    transition:0.3s;
} 
.categories{
    display:flex;
    justify-content:space-around;
    border-bottom:solid black 1px;
    padding:5px;
    flex-wrap:wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.categories p{
    padding: 10px;
    background-color:rgb(143, 51, 233);
    border-radius:25px;
    
}
.categories p:hover{
    background-color:rgb(143, 51, 233,0.8);
    transition:0.3s;
    transform:scale(1.05);
    transition:0.3s;
}
.sale-image img{
    width:100%;
}
.recommendation{
    padding:10px;
}
.recommendation-container{
    display:flex;
    justify-content:space-between;
    margin-top: 10px;
    flex-wrap:wrap;

}
.course-card{
    width: 200px;
}
.course-card:hover{
    transform:scale(1.05);
    transition:0.3s;
}
.course-card img{
    width:100%;
    height:50%;
}
.topics{
    padding: 10px;
}
.topics-container{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    margin-top:10px;

}
.topics-container p{
   border:lightslategray solid 1px;
   padding: 10px;
   flex-grow:1;
   flex-basis:20%
}
.topics-container p:hover{
    
    transform:scale(1.05);
    transition:0.3s;
}
.popular{
    padding: 10px;
}
.popular-container{
    display:flex;
    justify-content:space-between;
    margin-top: 10px;
    flex-wrap:wrap;

}
.footer{
    padding:10px;
    background-color:black;
    color:white;


}
.footer-one{
    display:flex;
    gap:20px;

}
.footer-one p{
    margin:20px;
}
.footer-one p:hover{
    transform:scale(1.05);
    transition:0.3s;
}
.footer-two{
    display:flex;
    justify-content:space-between;
    margin:20px;
    align-items:center;

}
